<h1>Cabeçalho</h1>
<hr>
<p>Nome - Luca Clemente dos Santos Cruz</p>
<p>RA - 	0050832011018</p>

<h2>Bitcoin Rates</h2>
<hr />
<button (click)="updateBitcoinRates()">Atualizar</button>
<table border="1">
  <tr>
    <th>Data/hora</th>
    <th>USD</th>
    <th>EUR</th>
  </tr>
  <tr *ngFor="let rate of this.bitcoinService.list">
    <td>{{rate.time.updated}}</td>
    <td>{{rate.bpi.USD.rate_float}}</td>
    <td>{{rate.bpi.BRL.rate_float}}</td>
  </tr>
</table>

<h3>Temporizador</h3>
{{timer.getCount()}}s
<button (click)="timer.start(1000)">Iniciar</button>
<button (click)="timer.stop()">Parar</button>
